.phantom {
  display: block;
  padding: 20px;
  height: 60px;
  width: 100%;
}

.text {
  background-color: #3182ce;
  border-top: 1px solid #e7e7e7;
  text-align: center;
  padding: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
  color: #ffffff;
}
