.homePage {
  overflow: hidden !important;
  bottom: 0;
}
.contentBlock {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-60%, -50%);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 50px;
  justify-content: center;
  border: 2px dashed #cfcfcf;
  border-radius: 8px;
  z-index: 1;
}
.iconBlock {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}
.iconStyle {
  font-size: 62px;
  color: #c3c3c3;
  margin-bottom: 30px;
}
.designText {
  font-size: 38px;
  font-weight: 500;
  margin-bottom: 10px;
}
.subText {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 30px;
  color: #c3c3c3;
}
.dragDropStyle {
  margin: 0 auto;
}
.arrowIconStyle {
  margin-left: 10px;
  font-size: 11px;
}
